.counterWrapper {
    height: 55%;
}

.counter {
    display: flex;
    justify-content: space-evenly;
}

.counterBtn, .countNum {
    color: rgb(58, 123, 213);
    font-weight: bold;
}

.counterBtn {
    font-size: 50px;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(1);
}

.countNum {
    width: 155px;
    font-size: 70px;
    text-align: center;
}

