* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, rgb(58, 123, 213), rgb(58, 96, 115));
}

@media (max-width: 575px) {
  .App {
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    margin: 15px;
  }
}

@media (min-width: 576px) {
  .App {
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    max-width: 320px;
    max-height: 568px;
    margin: 30px;
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 15px;
}

.main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

input[type='text'], input[type='number'], input[type='button'], button {
  appearance: none;
  outline: none;
  border: none;
  background: unset;
}

input[type='text'], input[type='number'], input[type='button'] {
  padding: 10px;
}

input[type='text'], input[type='number'] {
  border-bottom: 2px solid rgb(58, 123, 213);
}

.btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
}

input[type='button'], .btn {
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(58, 123, 213), rgb(58, 96, 115));
  transition: background 0.3s ease;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn img {
  width: 30px;
  filter: invert(1);
}

input[type='button']:hover, .btn:hover {
  opacity: 0.9;
}

.error {
  margin-bottom: 30px;
}

